################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiThreading/ChatAPI/bin/Debug
/MultiThreading/ChatAPI/obj/Debug
/MultiThreading/Client/bin/Debug/ChatAPI.dll
/MultiThreading/Client/bin/Debug/ChatAPI.pdb
