<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="XMLFileFolderSettings" value=
          "C:\Users\aizhuldyz_gabbassova\Downloads\ScannedFileProcessor\ArrayOfCustomFolderSettings.xml" />
      <add key="NextPageTimeout" value="5000" />
      
      <add key="LogFileDir" value="C:\Users\aizhuldyz_gabbassova\Downloads\ScannedFileProcessor\Logs"/>
    </appSettings>
</configuration>